{% extends 'base.html' %}
{% block title %}Crear Proyecto{% endblock %}

{% block content %}
<h2 class="mb-4">Nuevo Proyecto</h2>
{% if request.user.is_staff %}
<div class="glass-card">
    <form method="post">
        {% csrf_token %}

        <label for="{{ form.nombre.id_for_label }}">Nombre del Proyecto</label>
        {{ form.nombre }}

        <label for="{{ form.descripcion.id_for_label }}">Descripción</label>
        {{ form.descripcion }}

        <label for="{{ form.usuarios_asignados.id_for_label }}">Usuarios asignados</label>
        {{ form.usuarios_asignados }}

        <div class="form-buttons">
            <button type="submit" class="btn btn-purple">Crear</button>
            <a href="{% url 'lista_proyectos' %}" class="btn btn-dark">← Volver</a>
        </div>
    </form>
</div>
{% endif %}
{% endblock %}


